@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveLeft {
  0% {
    transform: translateX(0); /* Start position */
  }
  100% {
    transform: translateX(
      -10px
    ); /* End position - adjust the value to control the distance moved */
  }
}

/* Apply the animation to the icon on hover */
.hover\:animate-moveLeft:hover {
  animation: moveLeft 0.5s ease forwards;
}

.button-scale {
  transition: transform 0.2s ease;
}

.button-scale:hover {
  transform: scale(1.1);
}

/* button pressed */
@keyframes buttonPress {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-button-press {
  animation: buttonPress 0.2s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* player menu animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* transform: translatex(-510px); */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-open {
  animation: slideIn 0.3s ease-in-out;
}

.menu-closed {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

body {
  overflow: hidden;
}
